@media screen and (max-width:480px) {
    body{
        font-size: 1rem;
    }
    .nav-logo{
    margin-left: -4rem;
    }
    .fa-bars{
        display: block !important;
        margin-left: 10rem;
        color: rgb(153, 153, 153);
        border: 1px solid rgb(219, 219, 219);
        padding: 0.4rem 0.7rem;
    }
   .nav-menu{
        width: 100%;
        position: fixed;
        height: 70vh;
       background-color: rgb(241, 241, 241);
       position: absolute;
        top: 7%;
        left:-100%;
       display: block;
       z-index:999;
       padding: 1rem 2rem;
    }
    .nav-item {
        padding: 0.3rem 0;
        text-align: center;
    }
    .category{
        min-width:100%;
        min-height: 50vh; 
        left: 0;
    }
    .category li{
        text-align: left;
    }
    .category h4{
        text-align: left;
    }
    .create-menu{
        min-width: 45%;
        min-height:20vh;
        left: 35%;
    }
    .create-menu li{
      text-align: left;
    }
    /* **************** */
    h1{
        margin-left: 0rem; 
        font-size: 2rem;
        text-align: center;
      }
    .container1{
    width: 100%;
      padding:0 0.3rem;
      position: relative;
      margin: 0;
    }
    .cards_item{
        width: 100%;
        background-color: rgb(255, 255, 255);
        margin: 1.1rem;
        height: 52vh;
    }
    .cards_item .social-link{
        margin-top: 0.8rem;
    }
    .img-div::after{
        top:1.5%;
    }

     /* ++++++++++ Women Quiz Section End +++++++++ */
    .container2{
        position: relative;
        width: 100%;
        height: 100vh;
        top: 4rem;
      margin: 0;
      padding: 0 1rem;
    }
    
.all_section{
    min-width: 100%;
     height: auto;
   }
   .all_section li{
       border: 0.5px solid rgb(185, 185, 185);
       padding: 0.6rem;
   }
   .all_section li a{
       font-size: 1.3rem;
   }
   .all-btn{
    width: 100%;
    height: 31.5vh;
    overflow-x: hidden;
}
.all-btn .btn{
    width: auto;
    padding:0.4rem 1.16rem;
}
.btn_1{
    padding:0.4rem 1.15rem !important;
}
.btn_2{
    padding:0.4rem 1.03rem !important;
}
.btn_3{
    padding:0.4rem 1.31rem !important;
}
.btn_4{
    padding:0.4rem 1.4rem !important;
}
.btn_5{
    padding:0.4rem 1.56rem !important;
}
.btn_6{
    padding:0.4rem 1.7rem !important;
}

   .top-quiz{
       width: 100%;

   }
   .top-quiz-card{
       margin: 0.7rem 0;
   width: 100%;
   height: auto;
   }
   .all-btn_2{
      position: relative;
      top:4rem;
      box-shadow: none;
   }
   .all-btn_2 .btn{
     text-transform: capitalize;
   }
   .btn-1{ 
      padding:0.4rem 0.8rem !important;
   }
   .btn-2{ 
       padding:0.4rem 1.1rem !important;
    }
    .btn-3{ 
       padding:0.4rem 0.8rem !important;
    }
    .btn-4{ 
       padding:0.4rem 1.55rem !important;
    }
    .btn-5{ 
       padding:0.4rem 2.2rem !important;
    }
   .all-btn_3{
       margin: 0;
       box-shadow: none;
   }
   /* *********************footer :start********************** */
footer{
    width: 100%;
    position: relative;
  bottom: -70rem; 
}
.footer_conatiner{
    width: 100%;
}
.footer_link .link{
    padding:0 0.8rem;
    border-right: 1px solid grey;
    margin-bottom: 500px;
}
.footer_conatiner a{
    color: blue;
}
.footer_conatiner a:hover{
    color: black;
    text-decoration: underline !important;
}
}

@media (min-width:768px) and (max-width:1024px) {
    body{
        font-size: 1rem;
    }
    .category{
        min-height: 30vh; 
    }
    .create-menu{
        min-width: 20%;
        min-height:15vh; 
    }
    .nav-logo{
    margin-left: 3rem;
    }
    .navbar {
        width: 100%;
        overflow-x: hidden;
        padding: 0rem;
    }
    .nav-menu {
        display: flex;
      padding: 0rem;
      margin-left: 6rem;
    }
    .nav-item {
        margin-left: 2rem;
    }
    .nav-link{
        font-size: 0.9rem;
        color: #475569;
    }

    .sign{
         margin-left: 4rem;
    }

    /* ********* woman quiz start******* */
    h1{
        margin-left: 0rem; 
        font-size: 2.2rem;
        text-align: left; margin-left: 17rem;
      }
      .row-container{
        width: 100%;
        position: relative;
        height: auto;
     
    }
    .container1{
        width: 70%;
      margin-left: 1rem;
    }
    
    .cards_item{
        width: 45%;
        height: 25.5vh;
    }
    .cards_item img{
        width: 100%;
        height: auto;
    }
    .img-div::before{
        height: 1.8vh;
    }
    .img-div::after{
        height: 1.8vh;
        top:1.5%;
    }
     /* ++++++++++ Women Quiz Section End +++++++++ */
.container2{
    width: 25%;
    height: 100vh;
  margin-right: 0rem;
}
.all_section{
 min-width: 90%;
  height: auto;
}
.all-btn{
    height: auto;
    overflow-x: hidden;
}
.top-quiz{
    min-height: auto; 
}
.top-quiz-card{
margin: 0.7rem 0;
width: 100%;
height: auto;
}
.create-btn{
    margin:9rem 0 3rem 0; 
}
/* *********************footer :start********************** */
footer{
    width: 100%;
    min-height: 10vh;
    position: absolute;
 bottom: -250%;
    /* background-color: aquamarine; */
    }
}